.hero{
    height:500px;

    background:
    linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    url('https://images.unsplash.com/photo-1578303512597-81e6cc155b3e?q=80&w=1974&auto=format&fit=crop');

    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;

    display:flex;
    align-items:center;
}

h2{
    text-shadow:0 0 15px #e60012;
}

.card:hover {
    box-shadow:0 0 15px #e60012;
}

.logo span {
    color:white;
    text-shadow:0 0 10px #e60012, 0 0 20px #e60012;
    font-weight:bold;
}